<!DOCTYPE html>
<html lang="">
  <head>
    <title>Academia LearningCuba </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Academia LearningCuba  - Escolar y Preuniversitaria" />
    <link rel="shortcut icon" href="images/flojo.png">

    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/estiles.css" type="text/css" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
     rel="stylesheet">
    <!-- //Web-Fonts -->
  </head>
  <body>
  

    <div class="banner_w3lspvt-2">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{route('pagereal')}}" class="font-weight-bold">Inicio</a></li>
            <li class="breadcrumb-item" aria-current="page">Quienes Somos</li>
            <li class="breadcrumb-item" aria-current="page">Bienvenida</li>
        </ol>
    </div>


    <div class="about-inner py-5">
        <div class="container pb-xl-5 pb-lg-3">
            <div class="row py-xl-4">
                <div class="col-lg-5 about-right-faq pr-5">
                    <h6>En LearningCuba te damos</h6>
                    <h3 class="mt-2 mb-3"> Bienvenida</h3>
                    <p class="mb-3 text-justify"> Las experiencias de la etapa académica  van marcando el camino de nuestras vidas,
                         en donde se comparten alegrías, se adquieren nuevos conocimientos, se desarrollan habilidades y destrezas, 
                         se descubre el valor del servicio y entrega a los demás.
                        Por lo que día a día transcurre esta etapa importante y decisiva en la formación académica y de la personalidad 
                        de cada estudiante.Cuya educación en las manos de nuestro personal educativo, siendo estos los
                         principales guias y educadores de sus hijos.</p>
                
    
                    <strong class="mt-2">Para el público y familia que recien nos conoce </strong>
                    <p class="mt-2 mb-3 text-justify ">Esperamos que en nuestra página encuentren información que les ayude y oriente en la
                         importante decisión que están a punto de tomar, de la que dependerá la educación y formación de sus hijas.</p>
                    
                         
                    <strong class="mt-2" >Para quienes ya forman parte de la familia LearningCuba</strong>
                    <p class="mt-2  text-justify">Estamos a su disposición  para brindarle toda la información necesaria, que les permitirá vincularse en el día a día con nuestra Academia</p>
         
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <img src="images/about.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
        
        

        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
        
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        
        
        </body>
</html>
