
<!DOCTYPE html>
<html lang="">
  <head>
    <title>Academia LearningCuba </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="Academia LearningCuba  - Escolar y Preuniversitaria" />
    <link rel="shortcut icon" href="images/flojo.png">

    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="css/estiles.css" type="text/css" />
    <!-- Style-CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/font.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
     rel="stylesheet">
    <!-- //Web-Fonts -->
  </head>
  <body>
  


  {{-- resumen de entradas-section --}}
  <div class="banner_w3lspvt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html" class="font-weight-bold">Home</a></li>
        <li class="breadcrumb-item" aria-current="page">Propuesta Educativa</li>
    </ol>
</div>
{{-- fin resumen de entradas-section  --}}

{{-- CUERPO  --}}
<div class="about-inner py-5">
    <div class="container pb-xl-5 pb-lg-3">
        <div class="row py-xl-4">
            <div class="col-lg-6 welcome-right text-center mt-lg-0 mt-5">
                <img src="images/pro1.jpg" alt="" class="img-fluid" />
            </div>
            <div class="col-lg-6 about-right-faq pr-5">            
                <h3 class="mt-2 mb-3">Propuesta Educativa</h3>
                <p class="mb-3 text-justify"> Nuestra propuesta educativa tiene como propósito principal la formación integral de nuestros estudiantes; por ello 
                    consideramos que  se debe promover el desarrollo de las capacidades cognitivas  conjuntamente de la mano de la tecnología , como un importante que
                    palancador para mejorar el aprendijaje, donde el trabajo cooperativo permita convertir a los estudiantes en agentes activos de su aprendizaje,  fortaleciendo así la práctica de valores
                      con sensibilidad y compromiso, permitiendo lograr el perfil de un estudiante con las cualidades personales  necesarias para afrontar los retos de la vida y que la sociedad le proponga..</p>
            

                <strong class="mt-2">Para el Team LearningCuba </strong>
                <p class="mt-2 mb-3 text-justify ">Consideramos que cada estudiante es un reto y somos parte de ello brindando cada día nuestros conocimientos y habilidades
                    con mucho espiritu de superacion y perseverancia.</p>               
               
     
            </div>
       
        </div>
    </div>
</div>


        

        <script>
            addEventListener("load", function () {
                setTimeout(hideURLbar, 0);
            }, false);
        
            function hideURLbar() {
                window.scrollTo(0, 1);
            }
        </script>
        
        
        </body>
</html>

